
 .css-1fczirg-MuiTypography-root{
    padding:17px;
 }

 .css-r40f8v-MuiTypography-root{
    text-align: center;
 }

 .swal2-popup {
    font-size: 0.9rem; 
    padding: 10px;
    margin-left: 230px;
  }

  .css-ke5b6m-MuiButtonBase-root-MuiButton-root{
    margin-left: 546px;
  }

  .css-wb57ya-MuiFormControl-root-MuiTextField-root{
    padding:11px;
  }


  /* darkmode */
  .css-1oetjkv-MuiTypography-root{
    color:black
  }

  .css-1o6kmfp-MuiTypography-root{
    color:black;
    margin-left:50px;
  }

  .css-1cjlbjf-MuiTypography-root{
    color:black;
  }

 